{% extends 'main_theme.html' %}

{% block content %}
<div class="feed">
    <p><a class="create-post-link" href="{% url 'create-post' %}">Create a Post</a></p>

    <div class="posts-grid">
        {% for user_post in posts %}
        <div class="user-post">
            <div class="user-post-info">
                <small><a class="author-profile-link" href="{% url 'profile' user_post.author.profile.id %}">@{{ user_post.author.username }}</a></small>

                <p><a class="post-title-link" href="{% url 'user_post' user_post.id %}"><span class="user-post-title">{{ user_post.title }}</span></a></p>

                <p>{{ user_post.content|slice:":600" }}
                    {% if user_post.content|length > 600 %}
                    ...
                    {% endif %}
                </p>
            </div>

            <div class="edit-delete-buttons">
                <div class="edit-delete-buttons-grid">
                    {% if request.user == user_post.author %}
                    <a class="post-edit-link" href="{% url 'update-post' user_post.id %}">Edit</a>
                    <a class="post-delete-link" href="{% url 'delete-post' user_post.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}
