{% extends 'main_theme.html' %}

{% block content %}
<div>

    <p><a href="{% url 'create-post' %}">Create a Post</a></p>

    {% for user_post in posts %}
    <div>
        {% if request.user == user_post.author %}
        <a href="{% url 'update-post' user_post.id %}">Edit</a>
        <a href="{% url 'delete-post' user_post.id %}">Delete</a>
        {% endif %}
        <small><a href="{% url 'profile' user_post.author.id %}">@{{ user_post.author.username }}</a></small>
        <h5>{{ user_post.id }} -- <a href="{% url 'user_post' user_post.id %}">{{ user_post.title }}</a></h5>
    </div>
    {% endfor %}
</div>
{% endblock %}