{% extends 'main_theme.html' %}

{% block content %}

<div class="home">
    <div class="greeting">
        {% if request.user.is_authenticated %}
        <h2>Hi, {{ request.user.profile.name }}!</h2>
        {% endif %}

        <p>Check out the latest <a class="action-link" href="{% url 'feed' %}">posts.</a></p>

        {% if request.user.profile.role == 'STUDENT' %}
        <p>Check out your <a class="action-link" href="{% url 'performance' %}">progress</a> this semester.</p>
        {% elif request.user.profile.role == 'LECTURER' %}
        <p><a class="action-link" href="{% url 'performance' %}">Grade</a> your students' works!</p>
        {% endif %}

        {% if request.user.profile.role == 'STUDENT' %}
        <p><a class="action-link" href="{% url 'create-message' %}">Ask</a> your groupmates how are they feeling today!</p>
        {% elif request.user.profile.role == 'LECTURER' %}
        <p><a class="action-link" href="{% url 'create-message' %}">Write</a> to your students and colleagues!</p>
        {% endif %}
    </div>
</div>
{% endblock %}