{% extends 'main_theme.html' %}

{% block content %}
<div>
    {% if page == 'login' %}
    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter username"/>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password"/>

        <input class="submit-button" type="submit" value="Login">
    </form>
    <p>Haven't registered yet?</p>
    <a class="register-link" href="{% url 'register' %}">Register</a>

    {% else %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="submit-button" type="submit" value="Register">
    </form>
    <p>Have you already registered?</p>
    <a class="login-link" href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

{% endblock %}