{% extends 'main_theme.html' %}

{% block content %}
<p>This is My Messages.</p>
<div class="messages">
    <h3>Inbox</h3>
    {% for message in inbox_messages %}
    <p>< @<a class="sender-link" href="{% url 'profile' message.sender.id %}">{{ message.sender }}</a> -- {{ message.body }}</p>
    {% endfor %}
    <hr class="messages-division">
    <h3>Sent</h3>
    {% for message in sent_messages %}
    <p>> @<a class="receiver-link" href="{% url 'profile' message.receiver.id %}">{{ message.receiver }}</a> -- {{ message.body }}</p>
    {% endfor %}
    <hr class="messages-division">
    <a class="write-message-link" href="{% url 'create-message' %}">Write a message</a>
</div>
{% endblock %}