{% extends 'main_theme.html' %}
{% block content %}
<a href="{% url 'feed' %}"><h3>Back to Feed</h3></a>
<h1>{{ user_post.title }}</h1>
<p>{{ user_post.content }}</p>

<div class="comment-wrapper">
    <h3>Discussion</h3>
    <hr>
    {% for comment in comments %}
    <div>
        {% if request.user == comment.user %}
        <a href="{% url 'update-comment' comment.id %}">Edit</a>
        <a href="{% url 'delete-comment' comment.id %}">Delete</a>
        {% endif %}
        <small><a href="{% url 'profile' comment.user.id %}">@{{ comment.user }}</a>   {{ comment.created|timesince }} ago</small>
        <p>{{ comment.body }}</p>
        <hr>
    </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
    {% if page == 'update-comment' %}
    <p>Your comment: {{ comment.body }}</p>
    {% endif %}
<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your comment here..."/>
    </form>

</div>
{% endif %}



{% endblock %}