{% extends 'main_theme.html' %}

{% block content %}
<div class="back-to-feed">
    <a class="back-to-feed-link" href="{% url 'feed' %}"><h3>Back to Feed</h3></a>
</div>

<div>
    <h1>{{ user_post.title }}</h1>
    <div class="post-content">
        <p>{{ user_post.content }}</p>
    </div>
</div>

<div class="comments-section">
    <h3>Discussion</h3>
    <hr class="comments-section-division">
    {% for comment in comments %}
    <div class="comment">
        {% if request.user == comment.user %}
        <a class="edit-comment-link" href="{% url 'update-comment' comment.id %}">Edit</a>
        <a class="delete-comment-link" href="{% url 'delete-comment' comment.id %}">Delete</a>
        {% endif %}
        <small><a class="author-link" href="{% url 'profile' comment.user.profile.id %}">@{{ comment.user }}</a>   {{ comment.created|timesince }} ago</small>
        <p>{{ comment.body }}</p>
        <hr class="comments-division">
    </div>
    {% endfor %}
</div>

<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input class="write-comment-bar" type="text" name="body" placeholder="Write your comment here..."/>
    </form>
</div>

{% endblock %}