<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>ecampus</title>
        <link rel="stylesheet" href="{% static 'styles/main-theme.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/navigation-bar.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/side-menu.css' %}">
        <link rel="stylesheet" href="{% static 'styles/bottom-info-bar.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/feed.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/post.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/comments.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/messages.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/profile.css' %}"/>


    </head>
    <body>
        {% include 'navigation_bar.html' %}

        {% include 'base/side_menu.html' %}

        {% block content %}
        {% endblock %}

        {% include 'bottom_bar.html' %}
    </body>
</html>